@charset "UTF-8";
/* CSS Document */

/* BASE STYLE
---------------------------------------- */

body { padding:0; margin:0; }

/* GLOBAL HEADER
----------------------------------------- */

.global_header {
    background-image: url(../img/ou-global_header-bg.jpg);
    background-repeat: repeat;
}
.global_header::after  {
    content:"";
    background-color:#777;
    border-top:1px solid #000;
    height:1px;
    display:block;
    width:100%;
}

.global_header-wrapper {
	margin:0 auto;
	width:980px;
}

.global_header ul {
    height:30px;
    float:right;
	list-style:none;
	padding:0;
	margin:0;
}
.global_header ul::after  {
    content:"";
    display:block;
    width:100%;
}
.global_header ul li { float:left;}
.global_header ul li a.home,
.global_header ul li a.search,
.global_header ul li a.social {
    display:block; 
    height:30px;
    width:30px;
}
.global_header ul li a {
    background-image: url(../img/ou-global_header-icons.png);
    background-repeat:no-repeat;
	line-height:0;
}
.global_header ul li a.home { background-position:0 0; }
.global_header ul li a.home:hover { background-position:0 -30px; }
.global_header ul li a.search { background-position:-30px 0; }
.global_header ul li a.search:hover { background-position:-30px -30px; }
.global_header ul li a.social { background-position:-60px 0; }
.global_header ul li a.social:hover { background-position:-60px -30px; }
.global_header ul li a:hover { background-color:#e8e8e8; }
.global_header ul li.wordmark {
    text-indent:-99999px;
    width:200px;
    height:30px;
    margin-left:1em;
    background-image:url(ou-global_header-wordmark.png);
    background-repeat:no-repeat;
    background-position:center center;
}

a.tip { position:relative; }
a.tip span { display: none; }
/* the span will display just on :hover state */
a.tip:hover span { 
    position:absolute;
    z-index:25;
    top:135%; 
    left:-3.75em;  
    width:10em;
    display:block;
    margin:0;
    padding:1.25em 0 0.85em;
    border:1px solid #444;
    background-image:url(../img/ou-global_header-tipbg.gif);
    background-repeat:repeat;
    white-space:nowrap;
    text-align: center;
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.75em;
}
/* the arrow */
a.tip:hover span::before {
    content:"";
    width:100%;
    display:block;
    background-image:url(../img/ou-global_header-tiparrow.png);
    background-repeat:no-repeat;
    background-position:top center;
    background-repeat:no-repeat;
    background-position:top center;
    bottom:100%;
    left:0;
    height:9px;
    position:absolute;
}

