/*
   Stylesheet for OU Libraries Intranet //

   Table of Contents

   - - - - - - - - -

   MAIN INTRANET

   General Styles
   Global Footer
   Social Media Icons
   Banner
   Library Logo
   Login
   Navigation Bar
   Menus
   Headings
   Region-Top
   Paragraph Styling

   -----

   STATS

   -----

   DOCS & FORMS
 
   -----
   
   HOMEPAGE

   -----

   EMPLOYEE DIRECTORY/PROFILE

   -----

   GET-TO-KNOW WIDGET

   -----

   ADDITIONAL STATS STYLES --> to be merged later

   -----

   COMMUNITY

   -----
 */



 /** ---------------------------
 * MAIN INTRANET
 */

 /**
 * General Styles
 */

html,body{
    height: 100%;
	background-color: #fff;
	font-family: 'Droid Sans';
	font-weight: normal;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
	margin-left: 0;
	margin-right: 0;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    border-top: 1px dashed #cecece;
}

.whitebg {
	background-color: #fff;
	margin-bottom: 25px;
}

a {
    color: #7fa5bc;
    text-decoration: none;
	font-weight: bold;
}

a:hover, a:focus {
    color: #254467;
    text-decoration: underline;
}

img{
	height: auto;
    max-width: 100%;
}

.left-float {
	float:left;
}

.pane-location-contact{ /*'Contact Us' box on individual location pages*/
	background-color: #fff;
	margin-top: 15px;
	padding: 15px;
	border-left: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	border-radius: 0 0 10px 10px;
	border-top: 10px solid #660000;
	box-shadow: 2px 2px 4px #eaeaea;
	min-height: 230px;
}

 /**
 * Global Footer
 */

.footer{
    background-color: #333;
    color: #999;
    font-size: 1em;
    line-height: 1.2em;
	padding-top: 2% 15% 2% 15%;
	border-top: 7px solid #1f1f1f;
	min-height: 100%;
    width: 100%;
	margin-top:0;
}

.footer a{
    color: #ececec !important;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.footer ul{ margin: 0; padding: 0;}

.footer li{
    list-style: none;
}

.footer img{
	float: left;
	padding-right: 1em;
}

@media (max-width: 750px) {
.anniversary-logo img {
	padding: 25px 0 10px 0;
  }
}



 /**
 * Social Media Icons
 */

.social ul{
    display: block;
}

.social ul li a.facebook,
.social ul li a.twitter,
.social ul li a.youtube,
.social ul li a.pinterest{
    display: block;
    height: 45px;
    width: 45px;
    float: left;
}

.social ul li a {
    background-image: url(../img/social-icons.png);
    background-repeat:no-repeat;
	line-height:0;
	margin-right:5px;
}

.social ul li a.facebook{
	background-position:0 0;
}

.social ul li a.facebook:hover{
	background-position:-46px 0;
}

.social ul li a.twitter{
	background-position:0 -46px;
}

.social ul li a.twitter:hover{
	background-position:-46px -46px;
}

.social ul li a.youtube{
	background-position: 0 -92px;
}

.social ul li a.youtube:hover{
	background-position: -46px -92px;
}

.social ul li a.pinterest{
	background-position: 0 -276px;
}

.social ul li a.pinterest:hover{
	background-position: -46px -276px;
}

.contact_icons{
	float: left;
}



/**
* Banner
*/

.header{
    background-color: #cecece;
    min-height: 140px;
    padding: 0 0 0 0;
}

.header img {
	padding-left: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
}



 /**
 * Library Logo
 */

.logo img{
	height: auto;
    max-width: 100%;
	padding-top: 10px;
}



/**
 * Login
 */

.login{
	background-color: #4c4c4c;
	border-radius: 10px;
	border: 3px solid #fff;
	padding: 20px;
	margin: 20px;
	box-shadow: 2px 2px 4px #bbb;
	color: #fff;
	font-size: 1.3em;
}

.login a{
	color: #fff;
}

.login a:hover{
	color: #fff;
}


 /**
 * Navigation Bar
 */

.navbar {
	background-color:#3d3d3d;
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: .05em;
	width: 100%;
	border-radius: 0;
	border: 0px solid #3d3d3d;
	box-shadow: 0px 5px 5px #bbb;
	-moz-box-shadow: 0px 5px 5px #bbb;
	-webkit-box-shadow: 0px 5px 5px #bbb;
	-o-box-shadow: 0px 5px 5px #bbb;
}

.navbar-default {
    background-color: #3d3d3d;
    border-color: #3d3d3d;
}

.navbar-default .navbar-link {
    color: #ececec;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}

.navbar-default .navbar-nav>li>a {
    color: #ececec;
	border-bottom: 10px solid #3d3d3d;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ececec;
	border-bottom: 10px solid #428bca;
	background-color: #2a2a2a;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navbar-default .navbar-link:hover {
    color: #ececec;
	border-bottom: 10px solid #428bca;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #ececec;
    background-color: #2a2a2a;
	border-bottom: 10px solid #428bca;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #ececec;
	border: 1px solid #000;
    background-color: #3d3d3d;
}

.navbar-default .navbar-toggle {
    background-color: #2a2a2a;
    border: 0;
	position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
	color: #660000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2a2a2a;
	border: 0;
	color: #660000;
}

.navbar-collapse {
    max-height: 500px; /* fixes the vertical scrollbar issue upon collapse */
	overflow-x: hidden;
	text-align: center;
}

.navbar-toggle .icon-bar {
    color: #428bca;
}

.navbar-toggle .icon-bar+.icon-bar {
    color: #428bca;
}

.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
    color: #428bca;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* responsive text queries
+
+
+
*/

@media screen and (max-width: 992px) {
.navbar {
    font-size: 90%;
  }
}

@media screen and (max-width: 991px) {
.navbar {
    font-size: 11px;
  }

}



 /**
 * Menus
 */

.nav>li>a:hover {
    background-color: transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}

ul.menu.nav{
	line-height: 1em;
}



 /**
 * Headings
 */

h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

h1.page-header {
	padding: 10px;
	margin: 40px 0 20px 0;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
	background-color: #2c2c2c;
	border-radius: 5px 5px 5px;
	text-transform: uppercase;
}

h2 {
	font-weight: bold;
	font-size: 1.75em;
	color: #767676;
	text-transform:uppercase;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

h4 {
	font-weight: 1em;
	font-weight: bold;
	margin-bottom: 10px;
}

.viewmore-link {
    border-radius: 60px;
	background-color:#2a8ac4;
    border: 1px solid #2a8ac4;
    text-align: center;
    padding: 5px;
	color:#fffff;
}

.viewmore a{
	color:#ffffff;
	font-size:.8em;
}


/**
 * Region-Top
 */

#top_regions{
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	width: 100%;
	margin:0px;
}

#top_regions .col-md-5, #top_regions .col-md-7 {
	padding:0px;
}

#top_regions .container-fluid {
	padding:0px;
}

#top_regions .row {
	margin:0px;
	padding:0px;
}



/**
 * Paragraph Styling
 */
 
.paragraphs_image img{
	border: 1px solid #cecece;
	padding: 5px;
	margin-bottom: 15px;
	box-shadow: 1px 1px 2px #e3e3e3;
	background: #fff;
}

.paragraphs_section_header{
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    color: #fff;
    background-color: #ababab;
    border-radius: 5px 5px 5px;
    padding: 5px;
    font-size: 1.5em;
}

.paragraph_bundle_featured{
	border-bottom: 1px dashed #cecece;
	background-color: #f9f9f9;
	border-radius: 5px;
	padding: 15px 0 15px 0;
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_featured h2{
	font-family: 'Droid Sans';
	font-weight: bold;
	font-size: 1.25em;
}	

.paragraph_bundle_featured_alt{
	border-bottom: 1px dashed #cecece;
	padding: 15px 0 15px 0;
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_featured_alt h2{
	font-family: 'Droid Sans';
	font-weight: bold;
	font-size: 1.25em;
}

.paragraph_bundle_full_width{
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_full_image{
	margin-top: 15px;
	margin-bottom: 15px;
}


.paragraph_bundle_image_left{
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_image_right{
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_image_right img{
	margin: 15px 0 15px 0;
}

.paragraphs_location_description{
	font-family: 'Droid Sans';
	font-size: 1.2em;
	font-weight: 300;
	color: #565656;
	margin-top: 15px;
	margin-bottom: 15px;
	border-right: 1px solid #cecece;
	border-left: 20px solid #660000;
	border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
	border-radius: 4px;
	background-color: #fff;
	padding: 25px;
	box-shadow: 1px 1px 2px #e3e3e3;
}
 

 
/**
 * Sidebar global
 */

 .sidebar {
	background-color:#c1d9e8;
	color: #242424;
	border-radius: 5px;
	margin:0px 0px 10px 0px;
}

.sidebar-center {
	text-align:center;
}

.sidebar .viewmore-link {
    border-radius: 60px;
	background-color:#505050;
    border: 1px solid #505050;
    text-align: center;
    padding: 5px;
	color: #fffff;
}
.sidebar .viewmore {
	margin-top: 20px;
}

.sidebar .viewmore a{
	color: #ffffff;
	font-size:.8em;
}

.sidebar a{
	color: #2b4a5d;
}

.view .date-nav-wrapper .date-prev{
	right: 79px;
}

.sidebar h2{
	padding: 10px;
	color: #fff;
	font-size: 1.75em;
    background-color: #5a8ba8;
	border-radius: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
}


 /** ---------------------------
 * STATS
 */

.on-site-now {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	color: #621212;
	font-size: 40px;
}

.ga-stats-group {
	width: 75vw;
	left: 0 !important;
	/*margin-left: -30%;*/
	/*margin-right: auto;*/
}

.suma-more-sub-title {
	margin-bottom: 10px;
}

.suma-square {
	border: medium #48484c;
}


 /** ---------------------------
 * DOCS & FORMS
 */

#upload {
	border:0;
	background-image: linear-gradient(-180deg, #5a8ba8, 0, #7fa5bc 100%);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2), 0 10px 20px 0 rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	transition: .4s;
	outline: none;
	overflow: visible;
	font-weight: 500;
	font-size: 4em;
	line-height: normanl;
	text-align: left;
	color: #fff;
	font-weight: 700;
	transition: .4s;
	outline: none;
	overflow: visible;
}

#upload:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2), 0 20px 30px 0 rgba(0,0,0,.5);
    text-decoration: none;
    color:#3d3d3d;
    opacity: 0.8;
}

#upload:active {
    transform: translateY(4px);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2), 0 20px 30px 0 rgba(0,0,0,.5);
    text-decoration: none;
}

.uploadflex {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content:space-between;
    align-items:center;
}

#cbp-ig-grid {
    color:#5a8ba8;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    height-min: 200px;
}

#cbp-ig-grid:before {
    background: #7fa5bc;
}


#cbp-ig-grid:hover {
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    color: #fff;
    background:#7fa5bc;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#Collection {
    text-align: center;
}

.photo-collection-container{
	min-height: 290px;
}

 
 
/**
* Document Registry
*/

.doc_header {
    border-top: 1px dashed #cecece;
	background-color: #f9f9f9;
	border-radius: 5px;
	padding: 5px 0px 0px 5px;
	font-weight:bold;
}
.doc_row {
	background-color: #f9f9f9;
	border-radius: 5px;
	padding: 0px 5px 5px 5px;
	margin-bottom:0px;
	}
.doc_footer {
	background-color: #f9f9f9;
	border-radius: 5px;
	padding: 0px 5px 0px 5px;
	margin-bottom:5px;
	border-bottom: 1px dashed #cecece;
	}

.button-findingaid {
	border:1px solid #cccccc;
	width:165px;
	border-radius: 5px;
	padding: 10px;
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}



 /** --------------------------
 * HOMEPAGE
**/

#homepage li {
	margin:5px 0px 10px 0px;
	font-weight:bold;

}

#homepage .homepage-icons {
	margin:-10px 10px 0px 0px;
}

.alert-icon {
    width:75px; margin:10px 0px 0px 0px;
}

.alert-pipe {
	margin:0px 10px 0px 10px;}

td.multi-day a{
	color:#454546;}
	

	
 /** ----------------------------
 * DASHBOARD
 **/

.resources_by_subject_links{ /* Resources by Subject links list on Resources page */
    border: 1px solid #cecece;
	border-radius: 4px;
	padding: 25px;
	margin-bottom: 25px;
	box-shadow: 1px 1px 2px #e3e3e3;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(19%, rgba(255,255,255,1)), color-stop(100%, rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(242,242,242,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(242,242,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0 );
}

.resources_by_subject_links ul{ /* Styles the Resources by Subject links list */
	list-style-type: square;
	color: #660000;
}

.border-bottom {
	border-bottom:1px solid #cccccc;
}
.total-background {
	background-color:#cccccc;
	padding:0px 5px 0px 5px;
}



/**
 * TOOLBARS
 */

.toolbar {
	background-color:#e9e9e9;
	text-align:center;
}

.add-button {
	padding:10px;
	border:1px solid #2a8ac4;
	background-color:#2a8ac4;
	width:180px;
	border-radius:10px;
	text-align:center;
	margin:10px 0px 20px 0px;
}
.add-button a {
	color:#ffffff;
}

.time-table td{
	padding:10px 5px 10px 5px;
	width:300px;
}

.time-table td.time-number {
	width:50px;
}



/**
 * EMPLOYEE DIRECTORY/PROFILE
 */

.content-border{
    background-color: #fff;
    border: 1px solid #c9c9c9;
	border-radius: 4px;
	box-shadow: 2px 2px 4px #eaeaea;
	margin-bottom: 10px;
	padding: 15px 15px 15px 25px;
}

.employee-profile-coverphoto{
	padding: 15px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
	margin-bottom: 10px;
}

.employee-profile-userphoto img{
	padding: 5px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
	margin-bottom: 10px;
}

.employee-profile-name{
	 font-size: 2.75em;
	 font-weight: bold;
	 color: #274557;
	 background-color: #d8ebf7;
	 border-radius: 5px;
	 padding: 5px;
	 text-align: center;
}

.employee-profile-title{
	 font-size: 1.4em;
	 font-weight: bold;
	 color: #282828;
	 margin-bottom: 10px;
	 text-align: center;
}

.employee-profile-icons{
	margin: -10px 10px 0 0;
	color: #848484;
}

.employee-profile-title{
	 font-size: 1.7em;
	 font-weight: bold;
	 color: #282828;
	 margin-bottom: 10px;
}


/**
 * GET-TO-KNOW WIDGET
 */

.get-to-know-widget{
	text-align: center;
	padding: 10px;
}

.get-to-know-widget img{
	text-align: center;
}

/**
 * DATE
 */
 
.date {
	 width:80px;
	 color:#ffffff; 
	 font-size:3em; 
	 font-weight:bold; 
	 margin:auto;
	 
}
 
.date-container {
	 width:130px;
	 text-align:center;
	 border-bottom:10px solid #1a1919;
	 background-color:#7b0909;
}

 
 
/**
 * ADDITIONAL STATS STYLES --> to be merged later
 */

.at-a-glance{
	background-color: #c1d9e8;
	border-radius: 5px;
}

.at-a-glance h2{
	font-size: 2.75em;
	color: #5a8ba8;
	background-color: transparent;
	text-align: center;
}

.number{
	color: #5a8ba8;
}

.center {
	text-align:center;
}

.current-number {
	font-weight: 600;
	text-align: center;
	font-size: 155px;
	margin: 0;
	color: #5a8ba8;
}



/**
 * COMMUNITY
 */

.our-story-item h2{
	font-size: 1.4em;
	text-transform: capitalize;
	font-style: italic;
}

.our-story-item{
	background-color: #fff;
    border: 1px solid #c9c9c9;
	border-radius: 4px;
	box-shadow: 2px 2px 4px #eaeaea;
	margin-bottom: 10px;
	padding: 15px;
	min-height: 585px;
}

.photo-contest-photo{
	padding: 12px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
	margin-bottom: 10px;
	box-shadow: 2px 2px 4px #eaeaea;
}

.photo-contest-item h2{
	font-size: 1.1em;
	text-transform: capitalize;
	font-style: italic;
}

.photo-contest-item-info{
	padding: 10px;
    background-color: #d8ebf7;
	margin-bottom: 10px;
	text-align: center;
	border-bottom: 1px dashed #cecece;
	background-color: #f9f9f9;
	border-radius: 5px;
}
